<div class="homeDiv">
	<!-- show about us parallax homepage if user isn't signed in -->
	<% if user_signed_in? %>
		<%= render file: "article/index" %>
	<% else %>
		<div id="stickyNav">

<section class="section first" style="background: url('/assets/bubbles2.jpeg'); background-size: cover;     background-attachment: fixed;">
<div class="ar"></div>
	<p class="welcome">Welcome To</p>
  <span class ="siteName">MadSciExplorer</span>
  
</section>
<section class="section second" style="background: url('/assets/earthsci1.jpg'); background-size: cover;     background-attachment: fixed;">
  <span class="firstSpan">For the curious and young at heart.</span><br />
  <div class="pDiv"><p>MadSciExplorer is a site for everything science.</p>
  <p class="secondP">Browse a variety of scientific fields and experiments; we have detailed steps and kits to get you started with anything from making an exploding volcano to building your own website or experimenting with robotics.</p></div>
  
</section>
<section class="section third" style="background: url('/assets/lightning.jpg'); background-size: cover;     background-attachment: fixed;">
  <span>Browse the top recent articles from National Geographic, check out pictures from NASA's astronomy pictures of the day, and browse the posts to see what your fellow explorers are making.</span>
  
</section>
<section class="section final" style="background: url('/assets/bubbles2.jpeg'); background-size: cover;     background-attachment: fixed;">
  
</section>
<div class="pattern-overlay">
    <!-- <h3>This is the last section.</h3> -->
    <p class="explore" onclick="signInModalShow()" class="navToModal">Start Exploring</p>
</div>

</div>
	<% end %>
</div>
