<div id="stickyNav">

<div id="apodMain" style="background: url('/assets/stars.jpg'); background-size: cover;     background-attachment: fixed;">
<h1>NASA's Astronomy Pictures of the Day</h1><br />
	<div class="backTabs">
		<a class="astroBackTab" href="/fields/1/astronomy">Back to Astronomy Page</a>
	</div>
	<% @nasa_info.each do |apod| %>
		<div class="apodDiv">
			<h2><%= apod["title"] %></h2>
			<img src="<%= apod["url"] %>" />
			<p><%= apod["date"] %></p>
			<p class="apodExplain"><%= apod["explanation"] %></p>
		</div>
	<% end %>

</div>

</div>