<% if user_signed_in? && current_user.admin? %>

<div id="newExperimentDiv">

<h1>New Experiment</h1><br />

<%= link_to 'Back To All Experiments', experiments_path %><br /><br />

<%= render 'form', experiment: @experiment %>

</div>

<% end %>