<% if user_signed_in? && current_user.admin? %>

<div id="stepEdit">

<h1>Editing Step</h1><br />

<%= link_to 'See Step', @step %> | 
<%= link_to 'See Experiment', @step.experiment %> | 
<%= link_to 'Delete', @step, method: :delete, data: { confirm: 'Are you sure?' } %>
<br /><br />

<%= render 'form', step: @step %>

</div>

<% end %>