<% if user_signed_in? && current_user.admin? %>

<div id="stepNew">

<h1>New Step</h1><br />

<%= link_to 'See All Experiments', experiments_path %><br /><br />

<%= render 'form', step: @step %>

</div>

<% end %>