// start of article page:
#articleDiv {
	text-align: center;

	.newsImage {
		// width: 60vw;
		height: 40vh;
	}

	.addArticle {
		display: block;
	}

	.addArticle.hide {
		display: none;
	}
}
// end of article page