// start of experiment show page:
#experimentShowDiv {
	text-align: center;
	width: 70vw;
	margin: 0 auto;
	margin-left: 15vw;

	h1 {
		margin-bottom: 0px;
	}

	.experimentTabs {
		margin-top: 0px;
		margin-bottom: 2vh;
		width: 20vw;
		display: inline-block;
	}

	.experimentTabs a {
		padding-left: 1vw;
		padding-right: 1vw;
		background-color: #eee;
		border: 1px solid #eee;
		display: inline-block;
	}

	.experimentTabs a.stepLink {
		border-radius: 0px 0px 0px 20px;
		// border-right: 1px solid #4d4d4d;	
	}

	.experimentTabs a.kitLink {
		border-radius: none;
		// border-right: 1px solid #4d4d4d;
	}

	.experimentTabs a.expPostLink {
		border-radius: 0px 0px 20px 0px;
	}

	.experimentTabs a:hover {
		color: white;
		background-color: #bfbfbf;
	}

	.experimentImageSpan img {
		// width: 30vw;
		height: 35vh;
		margin-top: 1.2vh;
		margin-bottom: 2vh;
		border-radius: 20px;
	}

	.experiment_panel {
		display: none;
	}

	.kitLink, .stepLink, .expPostLink, .experiment_panel.active {
		display: block;
	}

	.hideKit {
    	display: none; /* Hidden by default */
    	position: fixed; /* Stay in place */
    	z-index: 3; /* Sit on top */
    	padding-top: 2vh;
    	padding-bottom: 2vh;
    	width: 35vw;
    	text-align: center;
    	font-size: 1.3vw;
    	background-color: rgba(255, 255, 255, .8);
    	margin: 0 auto;
    	margin-left: -7.3vw;
    	margin-top: -14vh;
    	border: 2px solid rgba(102, 102, 102, 0.7);
    	border-radius: 70px;

    	#kitShow {
    		width: 32vw;
    		margin: 0 auto;
    		background-color: rgba(217, 217, 217, 0.7);
    		padding: 2%;
    		padding-bottom: 0.2vh;
    		border-radius: 70px;
    		margin-bottom: 0.4vh;

    	p.expName {
    		font-size: 1.4vw;
    	}

    	img {
    		// width: 25vw;
    		height: 25vh;
    		border-radius: 10px;
    	}
    	}
	}

	#stepShowDiv {
		text-align: center;
		width: 70vw;
		margin: 0 auto;
		display: inline-block;
		margin-top: 4vh;
		background-color: #eee;
		border: 1px solid #eee;
		border-radius: 40px;
		margin-bottom: 2vh;

		.stepDiv {
			margin: 0 auto;
			display: inline-block;
			width: 60vw;
			// padding: 1.3%;
			// margin-bottom: 2vh;

			strong {
				font-size: 2vw;
			}

			img {
				height: 20vh;
				border-radius: 14px;
			}
		}
	}



	#experimentPostDiv {
		text-align: center;
		width: 70vw;
		margin: 0 auto;
		display: inline-block;
		margin-top: 2vh;

		h2 {
			width: 7.2vw;
			border-bottom: 2px solid #eee;
			display: inline-block;
			margin-bottom: 0px;
			margin-top: 3vh;
		}

		.backTabs {
			margin: 0 auto;
			margin-top: 0px;
			margin-bottom: 1.3vh;
			width: 20vw;
			// display: inline-block;
		}

		.backTabs a {
			padding-left: 1vw;
			padding-right: 1vw;
			background-color: #eee;
			border: 1px solid #eee;
			display: inline-block;
			border-radius: 0px 0px 20px 20px;
		}

		.backTabs a:hover {
			color: white;
			background-color: #bfbfbf;
		}		

		.postPreview {
			display: inline-block;
			width: 20vw;
			margin-bottom: 1vh;
			padding: 2%;
			margin-top: 0.3vh;
			background-color: none;
			border: 0px solid white;
			border-radius: 0;
			transition: all 500ms ease;

			img {
				padding-top: 1vh;
				height: 16vh;
				border-radius: 14px;
			}
		}

		.postPreview:hover {
			background-color: #eee;
			border: 1px solid #eee;
			border-radius: 40px;
		}		
	}
}
// end of experiment show page

// start of experiment index:
#experimentIndex {
	text-align: center;
	width: 80vw;
	margin: 0 auto;
	display: inline-block;
	margin-left: 10vw;
	margin-top: 2vh;

	.experimentPreview {
		padding: 2%;
		display: inline-block;
		margin-top: 2vh;
		background-color: none;
		border: 0px solid white;
		border-radius: 0;
		transition: all 500ms ease;

		div.experimentImageSpan {
			width: 22vw;
			height: 35vh;
			display: inline-block;
			background-size: contain;
			border-radius: 20px;
			margin-bottom: 0.4vh;
		}

		p {
			font-family: 'Julius Sans One', sans-serif;
			font-size: 1.4vw;
			margin-bottom: 0vh;
			margin-top: 0.1vh;
		}

		h4 {
			margin-top: 0.8vh;
			margin-bottom: 0.8vh;
		}
	}

	.experimentPreview:hover {
		background-color: #eee;
		border: 1px solid #eee;
		border-radius: 40px;
	}
}
// end of experiment index