// start of experiment show page:
#experimentShowDiv {
	text-align: center;

	.experimentImageSpan img {
		width: 30vw;
	}

	.hideSteps {
		display: none;
	}

	.kitLink, .stepLink, .hideSteps.active, .hideKit.active {
		display: block;
	}

	.stepLink.inactive {
		display: none;
	}

	.hideKit {
    	display: none; /* Hidden by default */
    	position: fixed; /* Stay in place */
    	z-index: 300; /* Sit on top */
    	padding-top: 2vh;
    	padding-bottom: 2vh;
    	width: 35vw;
    	text-align: center;
    	font-size: 20px;
    	background-color: rgba(255, 255, 255, .7);
    	margin-left: 32.5vw;
    	margin-top: -70vh;
    	// overflow-y: scroll;
    	border: 2px solid rgba(102, 102, 102, 0.7);
    	border-radius: 70px;

    	img {
    		width: 25vw;
    	}
	}
}
// end of experiment show page

// start of experiment index:
#experimentIndex {
	text-align: center;
	margin: 0 auto;

	img {
		width: 30vw;
	}
}
// end of experiment index