// start of experiment show page:
#experimentShowDiv {
	text-align: center;

	.experimentImageSpan img {
		// width: 30vw;
		height: 40vh;
	}

	.experiment_panel {
		display: none;
	}

	.kitLink, .stepLink, .expPostLink, .experiment_panel.active {
		display: block;
	}

	.stepLink.inactive, .expPostLink.inactive {
		display: none;
	}

	.hideKit {
    	display: none; /* Hidden by default */
    	position: fixed; /* Stay in place */
    	z-index: 3; /* Sit on top */
    	padding-top: 2vh;
    	padding-bottom: 2vh;
    	width: 35vw;
    	text-align: center;
    	font-size: 1.2vw;
    	background-color: rgba(255, 255, 255, .8);
    	margin-left: 32.5vw;
    	margin-top: -60vh;
    	// overflow-y: scroll;
    	border: 2px solid rgba(102, 102, 102, 0.7);
    	border-radius: 70px;

    	img {
    		width: 25vw;
    	}
	}

	#experimentPostDiv {
		text-align: center;
		width: 90vw;
		margin: 0 auto;
		display: inline-block;

		.postPreview {
			display: inline-block;

			img {
				height: 25vh;
			}
		}	
	}
}
// end of experiment show page

// start of experiment index:
#experimentIndex {
	text-align: center;
	width: 90vw;
	margin: 0 auto;
	display: inline-block;

	.experimentPreview {
		padding: 2%;
		display: inline-block;

		img {
			height: 25vh;
		}
	}	
}
// end of experiment index