// start of field index page:
#fieldIndexDiv {
	text-align: center;
	margin: 0 auto;
	width: 90vw;
	display: inline-block;
	margin-left: 5vw;
	margin-top: 2vh;

	.fieldPreview {
		padding: 2%;
		display: inline-block;
		margin-top: 2vh;

		.fieldImageSpan {
			width: 25vw;
			height: 40vh;
			background-size: contain;
			border-radius: 20px;

			h2 {
				text-align: center;
				vertical-align: center;
				background-color: black;
				color: white;
				// margin-top: 16vh;
				// min-height: 20vh;
				vertical-text-align: center;
			}
		}

		// p {
		// 	margin-bottom: 0vh;
		// }
	}

	.fieldPreview:hover {
		background-color: #eee;
		border: 1px solid #eee;
		border-radius: 40px;
	}
}
// end of field index page

// start of field show page:
#fieldShowDiv {
	text-align: center;

	.fieldShowImage img {
		width: 50vw;
	}	
}
// end of field show page

// start of astronomy field page:
.section { // for content wrappers (w/ optional background img)
	color: white;
  	position: relative;
  	background-size: cover;
  	background-repeat: no-repeat;
  	margin: 0;
  	padding: 0;
  	padding-left: 20vw;
  	padding-right: 20vw;
  	height: 100vh;
  	width: 100vw;

  	span.astronomyName {
  		text-align: center;
  		margin: 0 auto;
  		font-size: 12vw;
  		color: white;
  		font-family: 'Satisfy', cursive;
  		text-shadow: 5px 5px black;
  		padding-left: 6vw;

  	}
}

.section.first, .section.second, .section.third {
	padding-top: 20vh;
}

.section.second {
	text-align: center;
	font-size: 4.5vw;
	text-shadow: 3px 3px 3px black;
	font-family: 'Quicksand', sans-serif;

	span {
		padding-top: 10vh;
	}

	a.apodLink {
		margin-top: 2vh;
		font-size: 3vw;
		color: rgba(77, 77, 255, 0.9);
		font-family: 'Julius Sans One', sans-serif;
		border: 1px solid (255, 255, 255, 0.1);
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 90px;
		padding: 3%;
		cursor: pointer;
	}

	a.apodLink:hover {
		background-color: rgba(255, 255, 255, 0.6);
		box-shadow: 3px 3px 5px black;
	}
}

.section.third {
	text-align: center;
	font-size: 2.5vw;

	span {
		font-size: 3.2vw;
		font-family: 'Rajdhani', sans-serif;
		text-shadow: 2px 2px 2px black;
	}

	a {
		font-family: 'Quicksand', sans-serif;
		color: rgba(255, 77, 255, 0.9);
		text-shadow: 2px 2px 2px black;
	}

	a:hover {
		background-color: rgba(0, 0, 0, 0.4);
		padding-left: 2.3%;
		padding-right: 2.3%;
		border-radius: 90px;
		text-shadow: 6px 6px 6px black;
		box-shadow: 3px 3px 3px #fff;
	}
}

.ar {
	background-image: url("/assets/scrollarrow.png");
	background-size:cover;
	background-repeat: none;
	background-position: center;
	opacity: 0.7;
	filter: invert(100%);
	height: 20vh;
	// margin-left: -40vw;
	// margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 200;
	width: 10vw;
	bottom: 20vh;
	left: 45%;
	overflow: hidden;
}

.section.final {
// 	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
 	margin: 0;
 	padding: 0;
 	height: 100vh;
 	width: 100vw;
	z-index: -2;
	bottom: 0;
	padding-top: 20vh;
}

.pattern-overlay {
    background: url('/assets/astro1.jpg');
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;

    h3 {
    	color: white;
    	padding-left: 20vw;
  		padding-right: 20vw;
  		padding-top: 25vh;
    }

    p {
    	color: white;
    	padding-left: 20vw;
  		padding-right: 20vw;
    	padding-top: 1vh;
    }
}
// end of astronomy field page