// start of field index page:
#fieldIndexDiv {
	text-align: center;
	margin: 0 auto;

	.fieldImageSpan img {
		width: 30vw;
	}
}
// end of field index page

// start of field show page:
#fieldShowDiv {
	text-align: center;

	.fieldShowImage img {
		width: 50vw;
	}	
}
// end of field show page

// start of astronomy field page:
// html, body {
//   height: 100vh;
//   min-height: 100vh;
//   margin: 0;
//   padding: 0;
// }

ul { // correcting built-in spacing
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.section { // for content wrappers (w/ optional background img)
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.section.final {
// 	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
 	margin: 0;
 	padding: 0;
 	height: 100vh;
 	width: 100vw;
	z-index: -2;
	bottom: 0;
}

#stickyNav { // for everything pertaining to sticky nav
	 padding-bottom: 15vh;

.nav {
  transition: all .5s ease;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  line-height: 100px;
  // padding-bottom: 20vh;
  -webkit-transition-property: background-color, box-shadow, line-height, height;
  transition-property: background-color, box-shadow, line-height, height;
  -webkit-transition-timing-function: cubic-bezier(.78,.13,.15,.86);
  transition-timing-function: cubic-bezier(.78,.13,.15,.86);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  .brand{
    /* padding: 15px 60px; */
    /* line-height: 30px; */
    line-height: 100px;
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;
    float: left;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    -webkit-transition-property: background-color, box-shadow, line-height, height;
    transition-property: background-color, box-shadow, line-height, height;
    -webkit-transition-timing-function: cubic-bezier(.78,.13,.15,.86);
    transition-timing-function: cubic-bezier(.78,.13,.15,.86);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    a{
      color: #E33B00;
      text-decoration: none;
    }
    
    /* padding-right: 60px; */
  }
  ul {
    margin: 0;
    text-transform: uppercase;
    li{
      text-align: center;
      display: inline-block;
      list-style: none;
      padding: 15px 15px;
      cursor: pointer;
      line-height: 30px;
      &:hover a{
        font-weight: bold;
      }
      a{
        color: #eee;
        text-decoration: none;
      }
    }
  }
}

.sticky {
    position: fixed !important;
    top: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 4px 5px -2px rgba(0,0,0,0.22), 0 2px 1px -1px rgba(0,0,0,0.05); */
    background-color: #fff;
    line-height: 30px;
    .brand{
      line-height: 60px;
    }
    ul li a{
      color: #6E7982;
    }
    ul li:hover a{
      color: #E33B00;
    }
}

.pattern-overlay {
    background: url('/assets/astro1.jpg');
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    // position: relative;
    top: 0;
    width: 100vw;
    z-index: -1;
}
}
// end of astronomy field page

// start of tilt scroll div:
div#tiltScroll {

html {
      height: 100%;
    }
    body {
      background: #F1f1f2;
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
    }
    
    .wrapper {
    	height: auto !important;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    }
    
    a {
      text-decoration: none;
    }
    
    
    
    h1, h2 {
      width: 100%;
      float: left;
    }
    h1 {
      margin-top: 100px;
      color: #999;
      margin-bottom: 5px;
      font-size: 70px;
      font-weight: 100;
    }
    h2 {
      padding: 00px 20px 30px 20px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      letter-spacing: 0px;
      color: #888;
      font-size: 20px;
      line-height: 160%;
      font-weight: 100;
      margin-top: 10px;
      margin-bottom: 0;
    }
    
    
    .pointer {
      color: #00B0FF;
      font-family: 'Pacifico';
      font-size: 24px;
      margin-top: 15px;
      position: absolute;
      top: 130px;
      right: -40px;
    }
    .pointer2 {
      color: #00B0FF;
      font-family: 'Pacifico';
      font-size: 24px;
      margin-top: 15px;
      position: absolute;
      top: 130px;
      left: -40px;
    }
    pre {
      margin: 80px auto;
    }
    pre code {
      padding: 35px;
      border-radius: 5px;
      font-size: 15px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      max-width: 500px;
    }
    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
    
    .main h1 {
      padding:20px 50px 10px;
      float: left;
      width: 100%;
      font-size: 60px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      margin: 0;
      padding-top: 55px;
      font-family: 'Open Sans';
      letter-spacing: -1px;
      text-transform: capitalize;
    }
   
    .main h1.demo1 {
      background: #1ABC9C;
    }
    
    // .reload.bell {
    //   font-size: 12px;
    //   padding: 20px;
    //   width: 45px;
    //   text-align: center;
    //   height: 47px;
    //   border-radius: 50px;
    //   -webkit-border-radius: 50px;
    //   -moz-border-radius: 50px;
    // }
    
    // .reload.bell #notification {
    //   font-size: 25px;
    //   line-height: 140%;
    // }
    
    // .reload, .btn{
    //   display: inline-block;
    //   border-radius: 3px;
    //   -moz-border-radius: 3px;
    //   -webkit-border-radius: 3px;
    //   display: inline-block;
    //   line-height: 100%;
    //   padding: 0.7em;
    //   text-decoration: none;
    //   width: 100px;
    //   line-height: 140%;
    //   font-size: 17px;
    //   font-family: Open Sans;
    //   font-weight: bold;
    //   -webkit-box-shadow: none;
    //   box-shadow: none;
    //   background-color: #4D90FE;
    //   background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
    //   background-image: -webkit-moz-gradient(top,#4D90FE,#4787ED);
    //   background-image: linear-gradient(top,#4d90fe,#4787ed);
    //   border: 1px solid #3079ED;
    //   color: #FFF;
    // }
    // .reload:hover{
    //   background: #317af2;
    // }
    // .btn {
    //   width: 200px;
    //   -webkit-box-shadow: none;
    //   box-shadow: none;
    //   background-color: #4D90FE;
    //   background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
    //   background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
    //   background-image: linear-gradient(top,#4d90fe,#4787ed);
    //   border: 1px solid #3079ED;
    //   color: #FFF;
    // }
    .clear {
      width: auto;
    }
    // .btn:hover, .btn:hover {
    //   background: #317af2;
    // }
    // .btns {
    //   float: left;
    //   width: 100%;
    //   margin: 50px auto;
    // }
    // .credit {
    //   text-align: center;
    //   color: #888;
    //   padding: 10px 10px;
    //   margin: 0 0 0 0;
    //   background: #f5f5f5;
    //   float: left;
    //   width: 100%;
    // }
    // .credit a {
    //   text-decoration: none;
    //   font-weight: bold;
    //   color: black;
    // }
    
    // .back {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   text-align: center;
    //   display: block;
    //   padding: 7px;
    //   width: 100%;
    //   box-sizing: border-box;
    //   -moz-box-sizing: border-box;
    //   -webkit-box-sizing: border-box;
    //   background:#f5f5f5;
    //   font-weight: bold;
    //   font-size: 13px;
    //   color: #888;
    //   -webkit-transition: all 200ms ease-out;
    //   -moz-transition: all 200ms ease-out;
    //   -o-transition: all 200ms ease-out;
    //   transition: all 200ms ease-out;
    // }
    // .back:hover {
    //   background: #eee;
    // }
    
    
    .page-container {
      float: left;
      width: 100%;
      margin: 0 auto 300px;
      position: relative;
    }
    .panorama {
      width: 100%;
      float: left;
      margin-top: -5px;
      height: 700px;
    }
    
    .panorama .credit {
      background: rgba(0,0,0,0.2);
      color: white;
      font-size: 12px;
      text-align: center;
      position: absolute;
      bottom: 0;
      right: 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      float: right;
    }
    
    .main {
      margin-bottom: 350px;
      overflow: hidden;
    }
    .tps-section {
      width: 100% !important;
      max-width: 1000px;
      margin: 0 auto;
      height: 500px;
    }
    
    .tps-section .tps-wrapper {
      border-radius: 5px;
    }
    .tps-section .tps-wrapper h1 {
      position: relative;
      height: 100%;
      position: absolute;
    }
    .tps-section .tps-wrapper h1 a{
      color: white;
      position: absolute;
      background: rgba(0,0,0,0.25);
      width: 100%;
      height: 100%;
      top: 0;
      padding-top: 225px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      left: 0;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 20px;
      font-size: 14px;
      line-height: 190%;
    }
    
    .tps-section .tps-wrapper h1 a small{
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      font-family: noto serif;
      letter-spacing: 1px;
      font-size: 14px;
    }
    
    .tps-section:nth-child(1n+1) .tps-wrapper {
      background: url(demo1.jpg) center center;
      background-size: cover;
    }
    
    .tps-section:nth-child(2n+1) .tps-wrapper {
      background:  url(demo2.jpg) center center;
      background-size: cover;
    }
    
    .tps-section:nth-child(3n+1) .tps-wrapper {
      background:  url(demo3.jpg) center center;
      background-size: cover;
    }
    
    .tps-section:nth-child(4n+1) .tps-wrapper {
      background:  url(demo4.jpg) center center;
      background-size: cover;
    }
    
    .header {
      overflow: hidden;
      clear: both;
    }
}

.tps-section {
  width: 100%;
  height: 500px;
  -webkit-perspective: 10em;
  -moz-perspective: 10em;
  -ms-perspective: 10em;
  -o-perspective: 10em;
  perspective: 10em;
  -webkit-perspective-origin: center bottom;
  -moz-perspective-origin: center bottom;
  -ms-perspective-origin: center bottom;
  -o-perspective-origin: center bottom;
  perspective-origin: center bottom;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.tps-wrapper {
  float: left;
  width: 100%;
  height: 100%;
}
// end of tilt scroll div