// start of field index page:
#fieldIndexDiv {
	text-align: center;
	margin: 0 auto;

	.fieldImageSpan img {
		width: 30vw;
	}
}
// end of field index page

// start of field show page:
#fieldShowDiv {
	text-align: center;

	.fieldShowImage img {
		width: 50vw;
	}	
}
// end of field show page