// start of kit index page:
#kitIndex {
	text-align: center;
	width: 90vw;
	margin: 0 auto;
	display: inline-block;
	margin-left: 5vw;

	div.kitPreview {
		display: inline-block;
		padding: 2%;

		img {
			height: 25vh;
		}
	}
}
// end of kit index page

// start of new and edit kit form pages:
#newKit, #editKit {
	text-align: center;
	margin: 0 auto;

	input#kit_kit_items {
		width: 30vw;
		margin: 0 auto;
	}
}
// end of new and edit kit form pages