// start of post form:
// span.hideFormField {
// 	display: none;
// }
// end of post form

// start of post show page:
#postShowDiv {
	text-align: center;
	margin: 0 auto;
	width: 60vw;
	margin-left: 20vw;
	background-color: #eee;
	border: 1px solid #eee;
	border-radius: 100px;
	padding-top: 2vh;
	padding-bottom: 5vh;
	margin-top: 2vh;

	h1 {
		margin-bottom: 0vh;
	}

	h3 {
		margin-bottom: 1.8vh;
	}

	img {
		height: 40vh;
		margin-top: 1.2vh;
		margin-bottom: 3vh;
	}
}
// end of post show page

// start of post feed (index) page:
#postFeedDiv {
	text-align: center;
	width: 90vw;
	margin: 0 auto;
	display: inline-block;
	margin-left: 5vw;
	margin-top: 2vh;

	h1 {
		margin-bottom: 2vh;
	}

	.postPreview {
		padding: 2%;
		display: inline-block;
		margin-top: 2vh;
		background-color: none;
		border: 0px solid white;
		border-radius: 0;
		transition: all 500ms ease;

		img {
			height: 25vh;
			border-radius: 20px;
		}
	}

	.postPreview:hover {
		background-color: #eee;
		border: 1px solid #eee;
		border-radius: 40px;
	}	
}
// end of post feed (index) page