// start of post show page:
#postShowDiv {
	text-align: center;
	margin: 0 auto;
}
// end of post show page

// start of post feed (index) page:
#postFeedDiv {
	text-align: center;
	width: 90vw;
	margin: 0 auto;
	display: inline-block;

	.postPreview {
		display: inline-block;

		img {
			height: 25vh;
		}
	}	
}
// end of post feed (index) page