<div id="stickyNav">

<!-- <div class="ar"></div> -->
<section class="section first" style="background: url('/assets/astro1.jpg'); background-size: cover;     background-attachment: fixed;">
<div class="ar"></div>
  <span class ="fieldName astronomyName">Astronomy</span>
  
</section>
<section class="section second" style="background: url('/assets/astro2.jpg'); background-size: cover;     background-attachment: fixed;">
  <span>Check out pictures from NASA's Astronomy Picture Of The Day program</span><br /><br />
  <a class="apodLink" href="/apod/main">Go Star Searching</a>
  
</section>
<section class="section third" style="background: url('/assets/astro3.jpg'); background-size: cover;     background-attachment: fixed;">
  <span>Browse all experiments related to astronomy:</span><br /><br />
    <% if @field.experiments %>
      <% @field.experiments.each do |experiment| %>
        <a href="/experiments/<%= experiment.id %>"><%= experiment.title %></a><br />
      <% end %>
    <% else %>
      <h4>No experiments for this field yet.  Coming Soon!</h4>
    <% end %>
  
</section>
<section class="section final" style="background: url('/assets/astro1.jpg'); background-size: cover;     background-attachment: fixed;">
  
</section>
<div id="astroPattern" class="pattern-overlay">
    <!-- <h3>This is the last section.</h3> -->
    <p>Covering everything from eclipses to solar flares to black holes, astronomy is (literally) an ever-expanding field.  Look around and let your imagination run wild!</p>
</div>

</div>