<div id="stickyNav">

<!-- <div class="ar"></div> -->
<section class="section first" style="background: url('/assets/astro1.jpg'); background-size: cover;     background-attachment: fixed;">
<div class="ar"></div>
  <span class ="astronomyName">Astronomy</span>
  
</section>
<section class="section second" style="background: url('/assets/astro2.jpg'); background-size: cover;     background-attachment: fixed;">
  <span>Check out pictures from NASA's Astronomy Picture Of The Day program</span><br /><br />
  <a class="apodLink" href="/apod/main">Go Star Searching</a>
  
</section>
<section class="section third" style="background: url('/assets/astro3.jpg'); background-size: cover;     background-attachment: fixed;">
  <span>Browse all experiments related to astronomy:</span><br /><br />
    <% if @field.experiments %>
      <% @field.experiments.each do |experiment| %>
        <a href="/experiments/<%= experiment.id %>"><%= experiment.title %></a><br />
      <% end %>
    <% else %>
      <h4>No experiments for this field yet.  Coming Soon!</h4>
    <% end %>
  
</section>
<section class="section final" style="background: url('/assets/astro1.jpg'); background-size: cover;     background-attachment: fixed;">
  
</section>
<div class="pattern-overlay">
    <h3>This is the last section.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

</div>