<div id="stickyNav">

<!-- <div class="ar"></div> -->
<section class="section first" style="background: url('/assets/chem_bg1.jpg'); background-size: cover;     background-attachment: fixed;">
<div class="ar"></div>
  <span class ="fieldName chemName">Chemistry</span>
  
</section>
<section class="section second" style="background: url('/assets/chem_bg2.jpg'); background-size: cover;     background-attachment: fixed;">
  <span>Check out *fun chemistry videos/facts/etc*</span><br /><br />
  <!-- <a class="apodLink" href="/apod/main">Go Star Searching</a> -->
  
</section>
<section class="section third" style="background: url('/assets/chem_bg3.jpg'); background-size: cover;     background-attachment: fixed;">
  <span>Browse all experiments related to chemistry:</span><br /><br />
    <% if @field.experiments %>
      <% @field.experiments.each do |experiment| %>
        <a href="/experiments/<%= experiment.id %>"><%= experiment.title %></a><br />
      <% end %>
    <% else %>
      <h4>No experiments for this field yet.  Coming Soon!</h4>
    <% end %>
  
</section>
<section class="section final" style="background: url('/assets/chem_bg1.jpg'); background-size: cover;     background-attachment: fixed;">
  
</section>
<div id="chemPattern" class="pattern-overlay">
    <!-- <h3>This is the last section.</h3> -->
    <p>Fun explanation of chemistry and what you can do with it!</p>
</div>

</div>